.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  margin: auto;
  margin-top: 3%;
}

.name-position {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  color: whitesmoke;
}

#name {
  font-family: "Patua One", cursive;
  font-size: 60px;
  color: #232D4B;
}
#position {
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  color: #E57200;
}
.nametext {
  margin-top: 50%;
}

.background-gradient {
  background: white;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #434343, #000000); */

}

.category {
  margin-top: 5%;
}

.category-title {
  font-family: "Patua One", cursive;
  font-size: 35px;
  color:#232D4B;
  margin: auto;
}

.project-title {
  font-family: "Patua One", cursive;
  font-size: 25px;
  color: #E57200;
  margin: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project {
  margin-top: 5%;
}

.activities-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: "5%";
}

.description-activities {
  margin-left: 2%;
  color: white;
}

#desc {
  margin-top: 5%;
  width: 400px;
  color: #232D4B;
}

#sing-desc {
  margin-top: 5%;
  width: 400px;
  font-size: 25px;
}

.toggle-forward {
  margin-left: 85%;
}

.toggle-backward {
  margin-left: 5%;
}

#activity-title {
  margin-right: 50%;
  color: #E57200;
}

.activity {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-left: 5%;
}

.toggle {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}

#about-desc {
  margin: auto;
  color: black;
}

#space {
  width: 20%;
}

#future {
  color: rgb(66, 65, 65);
}

.resume-background {
  background: #f6e6b4; /* Old browsers */
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 30%;
}

.activities-background {
  margin: 10%;
}
