.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 40px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
}

.button {
  margin-right: 22%;
}

.social {
  display: flex;
  flex-direction: row;
  margin-left: 44.5%;
  position: fixed;
  bottom: 0;
}
.profile-pic {
  border-radius: 90%;
  margin-left: 10%;
}

.name-position {
  margin-top: 10%;
  width: 75%;
  color: whitesmoke;
}

#name {
  font-family: "Patua One", cursive;
  font-size: 60px;
}
#position {
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  color: cyan;
}
.nametext {
  margin-top: 50%;
}

.pic-name {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.background-gradient {
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.category {
  margin-top: 5%;
  height: 500px;
}

.category-title {
  font-family: "Patua One", cursive;
  font-size: 35px;
  color: #cfdfe4;
  margin: auto;
}

.activities-content {
  margin-bottom: 5%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.description-activities {
  margin-left: 2%;
  color: white;
}

#desc {
  margin-top: 5%;
  width: 400px;
}

#sing-desc {
  margin-top: 5%;
  width: 400px;
  font-size: 25px;
}

.toggle-forward {
  margin-left: 85%;
}

.toggle-backward {
  margin-left: 5%;
}

.toggle-hoos {
  margin: auto;
}

.toggle-stadium {
  margin: auto;
}

.media {
  margin-top: 3%;
  margin-left: 5%;
}

#activity-title {
  margin-right: 50%;
  color: cyan;
}

.activity {
  display: flex;
  flex-direction: column;
}

.toggle {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}

.toggle-projects {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 60%;
}

#about-desc {
  margin: auto;
}

#space {
  width: 20%;
}

#future {
  color: orange;
}
